.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modalMain {
  position:fixed;
  background: #2A2A33;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  color: #FFF;
  padding: 5px 10px 8px;
  position: relative;
  font-size: 15px;
  word-wrap: break-word;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.factorsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.factor {
  width: 50%;
  margin-top: 8px;
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

.iconWithSpace {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.closeButton {
  position: fixed;
  top: 0;
  right: 0;
}
